html,
body {
  background: url(Resources/HomeImazhe/Header.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

#HeaderHome {
  font-size: 3rem;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  color: rgb(211, 211, 211);
}

.buffer {
  height: 1rem;
}

.customcontainer {
  display: flex;
  width: 100%;
  height: calc(100% - 50px);
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  padding: 1.26em;

}
